body {
    background-color: #464646;
    width: 100vw;
}

button.menu {
    color: #fff;
}

button.menu:hover {
    border-bottom: 2px solid #fff;
}

button.flip > i {
    height: 9vh;
    width: 6vh;
    line-height: 9vh;
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1);
    font-size: 4.5vh;
}

button.flip {
    cursor: pointer;
    position: absolute;
    height: 9vh;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
}

button.flip.left {
    top: 50%;
    left: 15px;
}

button.flip.right {
    top: 50%;
    right: 15px;
}

button.flip:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

button.flip:active {
    background-color: rgba(0, 0, 0, 0.5);
}

button.action {
    width: 6vh;
    height: 6vh;
    float: left;
    background-color: transparent;
}

button.action > i {
    width: 100%;
    float: left;

}

#carousel {
    padding: 15px 0 0 0;
    margin: 0px 15px 15px 15px;
    height: calc(100vh - 80px);
    width: calc(100% - 30px);
    background-color: #212121;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

nav#toolbar {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 6vh);
    background-color: rgba(0, 0, 0, 0.3);
}