/*http://meyerweb.com/eric/tools/css/reset/*/
html,body,div,span,button,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    font: inherit;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}

.fluid {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.fluid-slow {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a {
    color: #1976D2;
    text-decoration: none;
}

button.social {
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 0 6px;
    background-color: transparent;
}

button.social#linkedin {
    background: url('../icons/linkedin.png');
    background-size: cover;
}
button.social#github {
    background: url('../icons/github.png');
    background-size: cover;
}
button.social#keybase {
    background: url('../icons/keybase.png');
    background-size: cover;
}
button.social#flickr {
    background: url('../icons/flickr.png');
    background-size: cover;
}
button.flip > i {
    height: 3vh;
    width: 3vh;
    display: block;
    background-size: cover;
}

span > a:hover {
    color: #616161;
}

span > a:active {
    color: #212121;
}

body {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    background-color: #E1F5FE;
}

nav#buttons {
    background-color: transparent;
}

#wrapper {
    position: relative;
    z-index: 1;
}

#desc > h1 {
    font-size: 3em;
}

#desc > h2 {
    width: calc(100% - 5em);
    font-size: 1.2em;
    font-style: italic;
    margin: 0.5em 0 0.5em 0;
    display: inline-block;
}

#desc > span {
    width: calc(100% - 5em);
    font-size: 1.2em;
    display: inline-block;
    margin: 0 0 1em 0;
    clear: both;
}

#contact {
    margin: 1em 0 0 0;
}

#buttons {
    display: flex;
}

#resume a, #blog a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    z-index: 10;
}

button {
    cursor: pointer;
    font-size: 1.2em;
    outline: none;
    display: inline-block;
}

#resume button {
    width: 144px;
    height: 50px;   
    color: #fff;
    background-color: #1976D2;
}

#resume:hover button {
    background-color: #1565C0;
}

button.menu {
    width: calc(100vw / 4);
    max-width: 144px;
    height: 48px;
    margin: 0 5px;
    color: #464646;
    border-bottom: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}

button.menu:hover {
    border-bottom: 2px solid #464646;
}

#resume:active button, button.menu:active {
    font-size: 1.1em;
}

#desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 48px); /*calc(10.6em + 50px);*/
    text-align: center;
    vertical-align: middle;
    color: #000;
}